*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid rgb(220, 220, 220);
    height: 60px;
}
header .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.container{
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
#logo{
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-family: "lora",serif;
    font-weight: 600;
}
nav ul{
    display: flex;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    gap: 24px;
    list-style: none;
}
.navalist{
    text-decoration: none;
    font-size: 17px;
    color: rgb(123, 112, 112);
    font-family: "Poppins", sans-serif;
}
#section1 .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#mainhead{
    font-size: calc(1.375rem + 1.5vw);
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "lora",serif;
    color: rgb(65, 57, 57);
}
#mainheadparha{
    font-size: 16px;
    line-height: 26px;
    margin-right: 12px;
    color: rgb(123, 112, 112);
    font-family: "Poppins", sans-serif;
}
#tiger{
    width: 50%;
    margin-top: 50px;
    border-radius: 6px;
}
.butten{
    margin-top: 45px;
}
#booksafari{
    background-color: rgb(50, 48, 48);
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
#contact{
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(21, 20, 20);
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid rgb(93, 86, 86);
    font-family: "Poppins", sans-serif;
}
#section2{
    background-color: #e9ecef;
    margin-top: 50px;
    height: 550px;
}

#section2h2{
    margin-top: 40px;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "lora",serif;
}
#section2parha{
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    color: rgb(123, 112, 112);
    margin-bottom: 28px;
}
#section2box{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    gap: 10px;
}
.boxlist{
    border: 1px solid rgb(225, 225, 225);
    width: 265px;
    height: 280px;
    border-radius: 10px;
    background-color: white;
}
#section2box img{
    margin-top: 20px;
    margin-left: 20px;
}
#section2box h3{
    margin-top: 20px;
    margin-left: 20px;
}
#section2box p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: rgb(123, 112, 112);
}
#section3h2{
    margin-top: 50px;
    font-family: "lora",serif;
    font-size: 30px;
}
#tigerbox{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    gap: 10px;
}
.tigerboxline{
    border: 1px solid rgb(225, 225, 225);
    width: 265px;
    height: 410px;
    border-radius: 10px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 50px;

}
#section3 img{
    width: 264.2px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
#section3 h5{
    font-family: "lora",serif;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
   
}
#section3 p{
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(50, 49, 49);
}
#tigerbutten{
    background-color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;

}
#tigerbuttendiv{
    margin-top: 20px;
}

    
